numpy
pandas
scipy
scikit-learn
faiss-cpu
fastapi
uvicorn
lightgbm
pydantic
pyyaml
loguru
dotmap
mangum
boto3
python-dotenv
pyarrow
joblib
pytest
pytest-asyncio
pydantic-settings
aiohttp
implicit
mlflow
https://download.pytorch.org/whl/cpu/torch-2.5.1%2Bcpu-cp310-cp310-linux_x86_64.whl
