numpy<2
pandas
scipy
scikit-learn
faiss-cpu==1.7.4
fastapi
uvicorn
lightgbm==3.3.5
pydantic
pyyaml
loguru
dotmap
mangum
boto3
python-dotenv
pyarrow==12.0.1
joblib
pytest
pytest-asyncio
pydantic-settings
aiohttp
implicit
mlflow
https://download.pytorch.org/whl/cpu/torch-2.5.1%2Bcpu-cp310-cp310-linux_x86_64.whl
